@{
    @using Audiology.Web.ViewModels.Contact
    @model ContactFormViewModel
}

    <div class="text-center" style="margin-top: 4rem;"><h4 class="font-italic">Contact us:</h4></div>

<form asp-action="Send" method="post" style="margin-top: 5rem;">

    <div class="form-row">
        <div class="col-6">
            <label asp-for="@Model.Email"></label>
            <input asp-for="@Model.Email" class="form-control" />
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
        </div>
        <div class="col-3">
            <label asp-for="@Model.FirstName"></label>
            <input asp-for="@Model.FirstName" class="form-control" placeholder="John" />
            <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
        </div>
        <div class="col-3">
            <label asp-for="@Model.LastName"></label>
            <input asp-for="@Model.LastName" class="form-control" placeholder="Doe" />
            <span asp-validation-for="@Model.LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-6">
            <label asp-for="@Model.Subject"></label>
            <input asp-for="@Model.Subject" class="form-control" />
            <span asp-validation-for="@Model.Subject" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group" style="margin-top: 2rem;">
        <label for="exampleFormControlTextarea1">Message:</label>
        <textarea asp-for="@Model.Content" class="form-control" id="exampleFormControlTextarea1" rows="15"></textarea>
    </div>

    <button asp-action="Send" class="btn btn-block btn-success font-weight-bolder" type="submit">Send</button>
</form>