@{
    @using Microsoft.AspNetCore.Identity;
    @using Audiology.Data.Models;
    @model IEnumerable<Audiology.Web.ViewModels.Songs.SongListViewModel>
    @inject UserManager<ApplicationUser> UserManager
    string userId = this.UserManager.GetUserId(this.User);
}

<h1>Playlist Name here </h1>

<div>
    @foreach (var song in Model)
    {
        <div class="text-left" style="width: 52rem; background-color: #f4f4f4; margin-top: 2rem;">

            <div class="d-flex flex-row bd-highlight mb-3" style="margin: 0 !important;">
                <div class="align-self-end">
                    <img src="@(song.SongArtUrl == null ? song.AlbumCoverUrl : song.SongArtUrl)" class="rounded" style="width: 7rem; height: 7rem;" alt="Image not found" />
                </div>
                <div class="d-block" style="margin-left: 1rem;">
                    <div class="d-block p-2 w-100 bd-highlight">
                        <h5 class="font-weight-lighter h-25 d-inline-block">@song.UserUserName</h5>
                    </div>
                    <div class="text-wrap p-2 w-100 bd-highlight"><a asp-action="ById" asp-route-id="@song.Id" style="text-decoration: none; color: black;">@song.Name.Replace(".mp3", "")</a></div>

                </div>

                <div class="ml-auto p-2 bd-highlight d-block">
                    <form id="votesForm" method="post"></form>
                    <a href="#" onclick="favourite('@userId',@song.Id,null)"><i class="fas fa-heart" style="padding-left: 0px; color: black;"></i></a>
                    <div id="favouritesCount" style="padding-left: 0px;" class="d-inline-block">@song.FavouritesCount</div>
                </div>
                <div class="align-self-end" style="margin-right: 1rem;">
                    <form asp-action="Remove" method="post">
                        <input type="hidden" name="userId" value="@userId" />
                        <input type="hidden" name="playlistId" value="@ViewData["playlistId"]" />
                        <input type="hidden" name="songId" value="@song.Id" />
                        <button asp-action="Remove" type="submit" class="btn btn-outline-danger"><i class="far fa-trash-alt"></i></button>
                    </form>
                </div>
            </div>
            <span class="d-flex justify-content-start align-self-end">
                <audio id="player" style="width: 52rem" controls>
                    <source src="~/Songs//@song.UserUserName/@song.Name" type="audio/mp3">
                </audio>
            </span>
        </div>
    }
</div>