@{
    @using Audiology.Data.Models.Enumerations;
    @model Audiology.Web.ViewModels.Songs.SongViewModel
}

<img src="@(Model.SongArtUrl == null ? Model.AlbumCoverUrl : Model.SongArtUrl)" class="img-fluid" style="width: 100%; height: 25rem" alt="Song cover can't be found sorry  :)" />
<hr />
<div class="row">
    <div class="col-md-6">
        <h1>@Model.Name</h1>

        <hr />
        <div id="lyrics">If lyrics are not shown here rename this song or send email to the artist. Lyrics come from <a href="https://lyrics.ovh/" target="_blank">lirycs.ovh</a>.</div>
    </div>

    <hr />
    <div class="col-md-6 border-left">
        <span class="font-weight-bold">Add to playlist: </span>
        <button type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target=".bd-example-modal-sm" style="width: 4rem; height: 3rem;"><i class="fas fa-plus-circle fa-2x fa-spin"></i></button>
        <div class="align-self-end"><i class="far fa-heart"></i> @Model.FavouritesCount</div>

        <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content text-center">
                    <div class="modal-header ">
                        <h5 class="modal-title text-center text-black-50">Add to playlist:</h5>
                    </div>
                    <div class="modal-body">
                        <form asp-controller="Playlists" asp-action="Create" method="post">
                            <div class="form-group">
                                <input type="hidden" class="form-control" name="SongId" value="@this.Model.Id" />
                                <input name="name" class="form-control" placeholder="Playlist Name">
                                <div class="form-check">
                                    <!-- is private checkbox dont work / by default is false -->
                                    <input name="IsPrivate" value="@Model.Playlists.Select(x=>x.IsPrivate)" type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Make private</label>
                                </div>
                                <span asp-validation-for="Name" class="text-danger"></span> <!-- Add validation for playlist name -->
                            </div>
                            <button asp-controller="Playlists" asp-action="Create" type="submit" class="btn btn-outline-dark" style="width: 10rem; height: 2rem;"><i class="fas fa-plus-circle"></i></button>

                        </form>

                        <br />
                        @if (Model.Playlists != null)
                        {
                            @foreach (var playlist in Model.Playlists)
                            {
                                <form asp-controller="Playlists" asp-action="Add" method="post">
                                    <div class="form-group d-block">
                                        <input type="hidden" class="form-control" name="SongId" value="@this.Model.Id" />
                                        <input type="hidden" class="form-control" name="PlaylistId" value="@playlist.Id" />
                                        <span style="margin-right: 1rem;">@playlist.Name</span>
                                        <button asp-controller="Playlists" asp-action="Add" type="submit" class="btn btn-outline-dark" style="margin-top: 10px;">
                                            <i class="fas fa-plus-circle"></i>
                                        </button>
                                    </div>
                                </form>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>

        <hr />
        <div>
            <span class="d-block font-weight-bolder">About "@Model.Name"</span>
            <span>@Model.Description</span>
        </div>
        <br />

        // Add social media links here

        <h6 class="text-uppercase">Track Info:</h6>
        <br />

        <div class="row justify-content-sm-center">
            <div class="col-sm text-md-center font-weight-lighter">
                <span class="d-block">Primary artist</span>
                <hr />
                <span class="d-block">Album</span>
                <hr />
                <span class="d-block">Genre</span>
                <hr />
                <span class="d-block">Producer</span>
                <hr />
                <span class="d-block">Release Date</span>
                <hr />
            </div>

            <div class="col-sm text-md-center">
                <a href="#" class="text-decoration-none"><span class="d-block">@Model.UserUserName</span></a>
                <hr />
                <a href="#" class="text-decoration-none"><span class="d-block">@(Model.AlbumName == null ? "It's single" : Model.AlbumName)</span></a>
                <hr />
                <a href="#" class="text-decoration-none"><span class="d-block">@Model.Genre</span></a>
                <hr />
                <span class="d-block">@Model.Producer</span>
                <hr />
                <span class="d-block">@Model.Year</span>
                <hr />
            </div>

        </div>
        <hr />
        <span class="font-weight-bolder" style="margin-bottom: 1rem;">Is there a music video?</span>
        <div id="youTubePlayer">
            <iframe width="520" height="315"
                    src="https://www.youtube.com/embed/YAt60oZ_J-4?controls=1">
            </iframe>
        </div>

        <hr />
        <div id="instagramPost" style="margin-left: 2rem;">
            <iframe src="https://www.instagram.com/p/ByV1qWqgJsg/embed/captioned" width="400" height="505" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
        </div>

        <hr />
        <div id="soundCloudPlayer">
            <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/436863855&color=%234d544d&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        </div>

        <hr />
        @if (Model.AlbumId != null)
        {
            <div class="d-block">
                <img src="@Model.AlbumCoverUrl" class="img-thumbnail rounded float-left" style="width: 7rem; height: 7rem;" alt="Alternate Text" />
                <div class="text-left d-block">
                    <span class="float-sm-right">@Model.AlbumName</span>
                </div>
                <span>@Model.AlbumProducer</span>
                <span>@Model.AlbumReleaseDate</span>
                <span>@Model.AlbumDuration</span>

            </div>

            <hr />
            <div><vc:songs-by-album album-id="@Model.AlbumId"></vc:songs-by-album></div>
        }


        <form asp-controller="Songs" asp-action="Edit" id="updateForm" style="display: none">
            <input type="hidden" name="Id" value="@this.Model.Id" />
            <input type="hidden" name="UserUserName" value="@this.Model.UserUserName" />
            <div>
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="SongArtUrl"></label>
                <input asp-for="SongArtUrl" class="form-control" />
                <span asp-validation-for="SongArtUrl" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @if (Model.Albums != null)
            {
                <div>
                    <label asp-for="AlbumId"></label>
                    <select asp-for="AlbumId" asp-items="@Model.Albums.Select(x=> new SelectListItem(x.Name, x.Id.ToString()))" class="form-control">
                        <option value="" selected disabled hidden>Select from existing albums</option>
                        <option value=""></option>
                    </select>
                    <span asp-validation-for="AlbumId" class="text-danger"></span>
                </div>
            }
            <div class="form-row">
                <div class="col">
                    <label asp-for="Genre"></label>
                    <select class="form-control" asp-for="Genre" asp-items="Html.GetEnumSelectList<Genre>()">
                    </select>
                    <span asp-validation-for="Genre" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Year"></label>
                    <input asp-for="Year" class="form-control" />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Producer"></label>
                    <input asp-for="Producer" class="form-control" />
                    <span asp-validation-for="Producer" class="text-danger"></span>
                </div>
            </div>

            <span class="font-weight-bold">Additional metadata:</span>
            <br />
            <div class="form-row">
                <div class="col">
                    <label asp-for="Featuring"></label>
                    <input asp-for="Featuring" class="form-control" placeholder="feat. Eminem 2pac Biggie " />
                    <span asp-validation-for="Featuring" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="WrittenBy"></label>
                    <input asp-for="WrittenBy" class="form-control" placeholder="Eminem, Juice WRLD, Luis Resto" />
                    <span asp-validation-for="WrittenBy" class="text-danger"></span>
                </div>
            </div>

            <span class="font-weight-bold">Audio and Video:</span>
            <br />
            <div class="form-row">
                <div class="col">
                    <label asp-for="YoutubeUrl"></label>
                    <input asp-for="YoutubeUrl" class="form-control" />
                    <span asp-validation-for="YoutubeUrl" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="SoundcloudUrl"></label>
                    <input asp-for="SoundcloudUrl" class="form-control" />
                    <span asp-validation-for="SoundcloudUrl" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="InstagramPostUrl"></label>
                    <input asp-for="InstagramPostUrl" class="form-control" />
                    <span asp-validation-for="InstagramPostUrl" class="text-danger"></span>
                </div>
            </div>

            <hr />
            <button asp-controller="Songs" asp-action="Edit" type="submit" class="btn btn-dark btn-lg btn-block"><i class="fas fa-music" style="margin-right: 1rem;"></i>UPDATE</button>
            <button asp-controller="Songs" asp-action="Delete" asp-route-id="@Model.Id" id="delete" type="submit" class="btn btn-outline-danger btn-block" data-toggle="tooltip" data-placement="left" title="This Action is irreversible are you sure?">DELETE</button>
        </form>

        @if (this.User.IsInRole("Artist") && this.User.Identity.Name == Model.UserUserName || this.User.IsInRole("Administrator"))
        {
            <br />
            <a href="#" onclick="toggleForm()" class="btn btn-dark btn-lg btn-block">EDIT SONG</a>
        }

    </div>
    <!-- <div>
        <vc:newest-songs></vc:newest-songs>
    </div> -->
</div>
<div class="fixed-bottom" style="margin-left: 17rem; width: 71rem;">
    <div class="font-weight-lighter text-left" style="margin-left: 1rem;">@Model.Name</div>

    <audio id="player" controls style="width: 100%;">
        <source src="~/Songs/@this.Model.UserUserName/@(Model.Name).@Model.FileExtension" type="audio/@Model.FileExtension">
    </audio>
</div>
<h1>text after the view component</h1>

@section Scripts{
    <script>
        function toggleForm() {
            $('#updateForm').slideToggle().show();
            $([document.documentElement, document.body]).animate({
                scrollTop: $('#updateForm').offset().top
            }, 500);
        }

        $(document).ready (function() {
            var artist = '@Model.UserUserName';
            var song = '@Model.Name';

            $.get("https://api.lyrics.ovh/v1/" + artist + "/" + song ,

                function (data) {
                    if (data.hasOwnProperty('error') == true) {
                    document.getElementById("lyrics").innerHTML = "Lyrics cannot be found";
                    }
                    else {
                    document.getElementById("lyrics").innerHTML = data.lyrics.replace(new RegExp("\n","g"), "<br>");
                    }

                })
        });
    </script>
}
