@{
    @using Microsoft.AspNetCore.Identity;
    @using Audiology.Data.Models;
    @using Audiology.Data.Models.Enumerations;
    @model Audiology.Web.ViewModels.Songs.SongViewModel
    @inject UserManager<ApplicationUser> UserManager
    string userId = this.UserManager.GetUserId(this.User);
}

<img src="@(Model.SongArtUrl == null ? Model.AlbumCoverUrl : Model.SongArtUrl)" class="img-fluid" style="width: 100%; height: 25rem" alt="Song cover can't be found sorry  :)" />
<hr />
<div class="row">
    <div class="col-md-6">
        <h1>@Model.Name.Replace("." + Model.FileExtension, string.Empty)</h1>

        @if (Model.LyricsText == null)
        {
            <hr />
            <div id="">If lyrics are not shown here rename this song or send email to the artist. Lyrics come from <a href="https://lyrics.ovh/" target="_blank">lirycs.ovh</a>.</div>
        }

        <br />
        @Html.Raw(@Model.LyricsText)
        
        <div class="input-group mb-3" style="margin-top: 2rem;">
            <form class="d-inline-flex" asp-controller="Songs" asp-action="Comment">
                <input type="hidden" name="songId" value="@Model.Id" />
                <input type="hidden" name="userId" value="@userId" />
                <input type="text" name="Content" class="form-control" style="width: 28rem;" placeholder="Add comment" aria-label="Content" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button asp-controller="Songs" asp-action="Comment" class="btn btn-outline-success" type="submit" id="button-addon2">Submit</button>
                </div>
            </form>
        </div>
        <div><vc:song-comments song-id="@Model.Id"></vc:song-comments></div>
    </div>

    <hr />
    <div class="col-md-6 border-left">
        <span class="font-weight-bold">Add to playlist: </span>
        <button type="button" class="btn btn-light" data-toggle="modal" data-target=".bd-example-modal-sm" style="width: 4rem; height: 3rem;"><i class="fas fa-plus-circle fa-2x fa-spin"></i></button>
        <div class="ml-auto p-2 bd-highlight text-center">
            <form id="votesForm" method="post"></form>
            <span class="font-weight-bolder">Likes</span>
            <a href="#" onclick="favourite('@userId',@Model.Id,null)"><i class="fas fa-heart fa-2x" style="padding-left: 0px; color: black;"></i></a>
            <div id="favouritesCount" style="padding-left: 0px;" class="d-inline-block">@Model.FavouritesCount</div>
        </div>

        <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content text-center">
                    <div class="modal-header ">
                        <h5 class="modal-title text-center text-black-50">Add to playlist:</h5>
                    </div>
                    <div class="modal-body">
                        <form asp-controller="Playlists" asp-action="Create" method="post">
                            <div class="form-group">
                                <input type="hidden" class="form-control" name="SongId" value="@this.Model.Id" />
                                <input name="name" class="form-control" placeholder="Playlist Name">
                                <div class="form-check">
                                    <!-- is private checkbox dont work / by default is false -->
                                    <input name="IsPrivate" value="@Model.Playlists.Select(x=>x.IsPrivate)" type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Make private</label>
                                </div>
                                <span asp-validation-for="Name" class="text-danger"></span> <!-- Add validation for playlist name -->
                            </div>
                            <button asp-controller="Playlists" asp-action="Create" type="submit" class="btn btn-outline-dark" style="width: 10rem; height: 2rem;"><i class="fas fa-plus-circle"></i></button>
                        </form>

                        <br />
                        @if (Model.Playlists != null)
                        {
                            @foreach (var playlist in Model.Playlists)
                            {
                                <form asp-controller="Playlists" asp-action="Add" method="post">
                                    <div class="form-group d-block">
                                        <input type="hidden" class="form-control" name="SongId" value="@this.Model.Id" />
                                        <input type="hidden" class="form-control" name="PlaylistId" value="@playlist.Id" />
                                        <span style="margin-right: 1rem;">@playlist.Name</span>
                                        <button asp-controller="Playlists" asp-action="Add" type="submit" class="btn btn-outline-dark" style="margin-top: 10px;">
                                            <i class="fas fa-plus-circle"></i>
                                        </button>
                                    </div>
                                </form>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>

        <hr />
        <div>
            <span class="d-block font-weight-bolder">About "@Model.Name.Replace("." + Model.FileExtension, string.Empty)":</span>
            <span>@Model.Description</span>
        </div>
        <hr />

        <h6 class="font-weight-bolder">Track Info:</h6>
        <br />

        <div class="row justify-content-sm-center" style="margin-bottom: 3rem;">
            <div class="col-sm text-md-center font-weight-lighter">
                <span class="d-block">Primary artist</span>
                <hr />
                <span class="d-block">Album</span>
                <hr />
                <span class="d-block">Genre</span>
                <hr />
                <span class="d-block">Producer</span>
                <hr />
                <span class="d-block">Year of release</span>
                <hr />
            </div>

            <div class="col-sm text-md-center">
                <a asp-controller="Profile" asp-action="Index" asp-route-id="@Model.UserId" style="color: black;" class="text-decoration-none"><span class="d-block">@Model.UserUserName</span></a>
                <hr />
                @if (Model.AlbumName != null)
                {
                    <a asp-controller="Albums" asp-action="ById" asp-route-id="@Model.AlbumId" style="color: black;" class="text-decoration-none"><span class="d-block">@Model.AlbumName</span></a>
                }
                else
                {
                    <span>It's single</span>
                }
                <hr />
                <a asp-controller="Songs" asp-action="ByGenre" asp-route-genre="@Model.Genre.ToString()" style="color: black;" class="text-decoration-none"><span class="d-block">@Model.Genre</span></a>
                <hr />
                <span class="d-block">@Model.Producer</span>
                <hr />
                <span class="d-block">@Model.Year</span>
                <hr />
            </div>

        </div>
        <br />
        <span class="font-weight-bolder" style="margin-bottom: 1rem;">Is there a music video?</span>
        <div id="youTubePlayer" style="margin-bottom: 3rem;">
            <iframe width="520" height="315"
                    src="@Model.YoutubeLink">
            </iframe>
        </div>

        <br />
        <div><vc:songs-by-user user-id="@Model.UserId"></vc:songs-by-user></div>

        <hr />
        <span class="font-weight-bolder" style="margin-bottom: 1rem;">Cover art for the song?</span>
        <div id="instagramPost" style="margin-left: 4rem; margin-bottom: 3rem;">
            <iframe src="@(Model.InstagramPostUrl)embed/captioned" width="400" height="505" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
        </div>

        <br />
        <vc:top-albums-for-user user-id="@Model.UserId"></vc:top-albums-for-user>
        
        <br />
        <br />
        <br />
        <hr />
        <span class="font-weight-bolder" style="margin-bottom: 1rem;">Check it out on soundcloud.</span>
        <div id="soundCloudPlayer" style="margin-bottom: 3rem;">
            <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/@(Model.SoundcloudUrl)&color=%234d544d&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        </div>

        <hr />
        <span class="font-weight-bolder" style="margin-bottom: 1rem;"></span>
        @if (Model.AlbumId != null)
        {
            <div class="row align-items-center">
                <div class="col-3"><img src="@Model.AlbumCoverUrl" class="img-thumbnail rounded float-left" style="width: 7rem; height: 7rem;" alt="Alternate Text" /></div>

                <div class="col">
                    <a style="color: black;" asp-controller="Albums" asp-action="ById" asp-route-id="@Model.AlbumId"><span>@Model.AlbumName</span></a>
                    <div><span class="font-weight-lighter">(@Model.AlbumReleaseDate?.ToShortDateString())</span></div>
                    <div><span class="font-weight-bold">@Model.AlbumProducer</span></div>
                </div>
            </div>

            <br />
            <div style="margin-bottom: 5rem;"><vc:songs-by-album album-id="@Model.AlbumId"></vc:songs-by-album></div>

        }



        <form asp-controller="Songs" asp-action="Edit" id="updateForm" style="display: none">
            <input type="hidden" name="Id" value="@this.Model.Id" />
            <input type="hidden" name="UserUserName" value="@this.Model.UserUserName" />
            <div>
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="SongArtUrl"></label>
                <input asp-for="SongArtUrl" class="form-control" />
                <span asp-validation-for="SongArtUrl" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @if (Model.Albums != null)
            {
                <div>
                    <label asp-for="AlbumId"></label>
                    <select asp-for="AlbumId" asp-items="@Model.Albums.Select(x=> new SelectListItem(x.Name, x.Id.ToString()))" class="form-control">
                        <option value="" selected disabled hidden>Select from existing albums</option>
                        <option value=""></option>
                    </select>
                    <span asp-validation-for="AlbumId" class="text-danger"></span>
                </div>
            }
            <div class="form-row">
                <div class="col">
                    <label asp-for="Genre"></label>
                    <select class="form-control" asp-for="Genre" asp-items="Html.GetEnumSelectList<Genre>()">
                    </select>
                    <span asp-validation-for="Genre" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Year"></label>
                    <input asp-for="Year" class="form-control" />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Producer"></label>
                    <input asp-for="Producer" class="form-control" />
                    <span asp-validation-for="Producer" class="text-danger"></span>
                </div>
            </div>

            <span class="font-weight-bold">Additional metadata:</span>
            <br />
            <div class="form-row">
                <div class="col">
                    <label asp-for="Featuring"></label>
                    <input asp-for="Featuring" class="form-control" placeholder="feat. Eminem 2pac Biggie " />
                    <span asp-validation-for="Featuring" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="WrittenBy"></label>
                    <input asp-for="WrittenBy" class="form-control" placeholder="Eminem, Juice WRLD, Luis Resto" />
                    <span asp-validation-for="WrittenBy" class="text-danger"></span>
                </div>
            </div>

            <span class="font-weight-bold">Audio and Video:</span>
            <br />
            <div class="form-row">
                <div class="col">
                    <label asp-for="YoutubeUrl"></label>
                    <input asp-for="YoutubeUrl" class="form-control" />
                    <span asp-validation-for="YoutubeUrl" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="SoundcloudUrl"></label>
                    <input asp-for="SoundcloudUrl" class="form-control" />
                    <span asp-validation-for="SoundcloudUrl" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="InstagramPostUrl"></label>
                    <input asp-for="InstagramPostUrl" class="form-control" />
                    <span asp-validation-for="InstagramPostUrl" class="text-danger"></span>
                </div>
            </div>

            <hr />
            <button asp-controller="Songs" asp-action="Edit" type="submit" class="btn btn-dark btn-lg btn-block"><i class="fas fa-music" style="margin-right: 1rem;"></i>UPDATE</button>
            <button asp-controller="Songs" asp-action="Delete" asp-route-id="@Model.Id" id="delete" type="submit" class="btn btn-outline-danger btn-block" data-toggle="tooltip" data-placement="left" title="This Action is irreversible are you sure?">DELETE</button>
        </form>

        @if (this.User.IsInRole("Artist") && this.User.Identity.Name == Model.UserUserName || this.User.IsInRole("Administrator"))
        {
            <br />
            <a href="#" onclick="toggleForm()" class="btn btn-dark btn-lg btn-block">EDIT SONG</a>
        }

    </div>
</div>
<div class="fixed-bottom" style="margin-left: 17rem; width: 71rem;">
    <div class="font-weight-lighter text-left" style="margin-left: 1rem;">@Model.Name.Replace("." + Model.FileExtension, string.Empty)</div>

    <audio id="player" controls style="width: 100%;">
        <source src="~/Songs/@this.Model.UserUserName/@(Model.Name.Replace("." + Model.FileExtension, string.Empty)).@Model.FileExtension" type="audio/@Model.FileExtension">
    </audio>
</div>
<div class="text-center" style="margin-top: 5rem;"><h3 class="font-weight-lighter">More on Audiology</h3>
                         <div>
                             <vc:more-songs-from-genre genre="@Model.Genre"></vc:more-songs-from-genre>
                         </div>
    </div>

@section Scripts{
    <script>
        function toggleForm() {
            $('#updateForm').slideToggle().show();
            $([document.documentElement, document.body]).animate({
                scrollTop: $('#updateForm').offset().top
            }, 500);
        }
    </script>
}
