@{
    @using Microsoft.AspNetCore.Identity;
    @using Audiology.Data.Models;
    @model IEnumerable<Audiology.Web.ViewModels.Songs.SongListViewModel>
    this.ViewData["Title"] = "All Songs";
    @inject UserManager<ApplicationUser> UserManager
    string userId = this.UserManager.GetUserId(this.User);
}

<h1 class="text-center">All Songs</h1>

<div>
    @foreach (var song in Model)
    {
        <div class="text-left" style="width: 52rem; background-color: #f4f4f4; margin-top: 2rem;">

            <div class="d-inline-flex p-2 bd-highlight">
                <div class="align-self-end">
                    <img src="@(song.SongArtUrl == null ? song.AlbumCoverUrl : song.SongArtUrl)" class="rounded" style="width: 7rem; height: 7rem;" alt="Image not found" />
                </div>
                <div class="d-block text-left align-self-start" style="margin-left: 1rem;">
                    <div class="d-block">
                        <h5 class="font-weight-lighter h-25 d-inline-block">@song.UserUserName</h5>
                    </div>
                    <div class="text-wrap"><a asp-action="ById" asp-route-id="@song.Id" style="text-decoration: none; color: black;">@song.Name.Replace(".mp3", "")</a></div>

                </div>

                <div class="justify-content-end">
                    <a href="#" onclick="favourite('@userId',@song.Id,null)"><i class="fas fa-heart" style="padding-left: 0px; color: black;"></i></a>
                    <div id="favouritesCount" style="padding-left: 0px;" class="d-inline-block">@song.FavouritesCount</div>
                </div>
            </div>
            <span class="d-flex justify-content-start align-self-end">
                <audio id="player" style="width: 52rem" controls>
                    <source src="~/Songs//@song.UserUserName/@song.Name" type="audio/mp3">
                </audio>
            </span>
        </div>
    }
</div>

@section Scripts{
    <script>
        function favourite(userId, songId, albumId) {

            var token = $("#votesForm input[name=__RequestVerificationToken]").val();
            var json = { "userId": userId, "songId": songId, "albumId": albumId };

            $.ajax({
                url: "/api/favourites",
                type: "POST",
                headers: { 'RequestVerificationToken': token },
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#favouritesCount").html(data.favouritesCount);
                },
                error: function (req, status, error) {
                    console.log(error);
                }
            });
        }

    </script>
}