@{
    @using Microsoft.AspNetCore.Identity
    @using Audiology.Data.Models
    @inject UserManager<ApplicationUser> userManager
    @model Audiology.Web.ViewModels.Albums.AlbumViewModel
    ViewData["Title"] = Model.Name;
    string userId = this.userManager.GetUserId(this.User);
}

<div>
    <img src="@Model.CoverUrl" style="width: 100%; height: 25rem;" alt="Album art not found sorry :)" />
</div>

<h1 class="text-center">@Model.Name</h1>
<hr />

<div class="row row-cols-2">
    @foreach (var song in Model.Songs)
    {
        <div class="col" style="height: 12rem;">
            <div class="text-center" style="width: 19rem; background-color: #f4f4f4">

                <img src="@(song.SongArtUrl == null ? song.AlbumCoverUrl : song.SongArtUrl)" class="rounded-top" style="width: 18rem; height: 10rem;" alt="Image not found" />
                <a asp-controller="Songs" asp-action="ById" asp-route-id="@song.Id" class="stretched-link" style="text-decoration: none; color: black;">@song.Name.Replace(".mp3", "")</a>

        <h5 class="">@this.User.Identity.Name</h5>
        <form id="votesForm" method="post"></form>

        <div class="align-content-start">
            <a href="#" onclick="favourite('userId',@song.Id,null)"><i class="fas fa-heart" style="padding-left: 0px; color: black;"></i></a>
            <div id="favouritesCount" style="padding-left: 0px;" class="d-inline-block">@song.FavouritesCount</div>
        </div>

        <audio id="player" controls>
            <source src="~/Songs//@this.User.Identity.Name/@song.Name" type="audio/mp3">
        </audio>
            </div>
        </div>
    }
    <div class="col border-left">
        <vc:user-details user-id="@userId"></vc:user-details>
    </div>
</div>




