@{
    @using Audiology.Web.ViewModels.Albums
    @model List<AlbumsListViewModel>
    this.ViewData["Title"] = "Albums";
}

    <h1 class="text-center">Albums</h1>
    <div class="row">
        @foreach (var album in Model)
        {
         <div class="col-md-4 mt-md-5">
             <div class="card" style="width: 18rem;">
                 <img src="@album.CoverUrl" class="card-img-top img-fluid" style="width: 18rem; height: 11rem;" alt=" Sorry album cover not found :)">
                 <div class="card-body">
                     <a asp-controller="Albums" asp-action="ById" asp-route-id="@album.Id"><h6 class="card-text text-center stretched-link">@album.Name</h6></a>
                     <h6 class="card-text text-center">@album.Producer</h6>
                     <p class="card-text text-center">@album.ShortDescription</p>
                 </div>
             </div>
         </div>
        }
    </div>